body{
	margin: 0;
	background: url(images/background2.jpg);
	text-align: center;
	background-size: 110% 160%;
	background-repeat: no-repeat;
}

img{	
	width: 230px;
	height: auto;
}

.navbar {
	margin-bottom: 0;
    border-radius: 0;
    text-align: center;
}

.container-fluid {
	padding: 80px;
}

.navbar-inverse {
    opacity:0.9;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
}

div#bloc{
    background-color: white;
	display: inline-block;
	border-radius: 30px;
	padding: 80px;
	opacity: 0.94;
}

div.form-group.row{
	display: inline-block;
	float : left;
	padding : 15px;
}

button#compute{
	margin-top: 70px;
	margin-right: 1px;
	margin-bottom: 1px; 
	display: inline-block;
}

label{
	float : left
}

label.checkbox-inline{ /*option*/
	margin-top: 20px;
	margin-right: 100px;
	margin-bottom: 1px;
	padding-left: 100px;
	display: inline-block;
}

input#option.option.form-control{
	background-color: red;
}

nav.navbar.navbar-inverse{
	width:100px;
	height: 100px;
}

#footer{
	height: 100px;
	position: absolute;
	bottom: 0;
	left : 0;
	right: 0;
	background-color: black;
	color : white;
	opacity: 0.7;
	text-align: center;
}

#ul{
	display: inline-block;
	padding-left: 200px;
	padding-right: 100px;
	padding-top: 50px;
}
